.ios, .md, .wp {
    ion-content{
        background:#46edf3;
     }
    button{
        border-radius: 5px;
    }
    ion-navbar{
        background: #488aff;
    }
    p{
        color:white;
    }

}

